$base: #000000;
$background-primary: #121212;
$background-primary-shader: #111111;
$fields-background: #1e1e1e;
$background-secondary: #3e3d47;

$text-primary: #ffffff;
$text-primary-shader: #dcdcdc;
$text-secondary: #acafb3;
$subtitle: #707174;

$backlight-yellow: #ffe799;
$backlight-green: #3bceac;
$backlight-pink: #ec325a;
$backlight-purple: #701192;
